.kendo{
    margin-top:100px;
    padding-bottom:100px;
    margin-left:200px;
   
}



.addbutton{
    padding-bottom:20px;
    padding-top:20px;
    text-align: center;
}

 .submitbutton{
    padding-top: 15px;
    margin-left: 380px;
    padding-bottom: 25px;
}

.passshow1{
    margin-left:465px;
    padding-top:78px;
    width:300px;
}

.passshow2{
    margin-left:465px;
    padding-top:45px;
    width:300px;
}

.passshow3{
    margin-left:465px;
    padding-top:45px;
    width:300px;
}

.passshow4{
    margin-left:465px;
    padding-top:45px;
    width:300px;
    padding-bottom:15px;
}

.generatebtn{
    margin-top:15px;
    margin-bottom:30px;
    
}


.cardheader{
    width:813px;
    padding-top:14px;
    margin-left:210px;
    text-align: center;
}