<app-dashboard></app-dashboard>

<div class="kendo">
    <div class="container">
        <div class="addlocmodal">
            <app-locationmodal></app-locationmodal>
        </div>


        <kendo-grid selectable="true" [selectedKeys]="selectedKeys" [kendoGridSelectBy]="rowSelectionKey" [data]="gridDat" [pageSize]="state.take"
            [skip]="state.skip" [sort]="state.sort" [filter]="state.filter" [sortable]="true" [pageable]="true" [height]="400"
            [filterable]="true" (pageChange)="pageChange($event)" (dataStateChange)="dataStateChange($event)">
            <kendo-grid-column field="Name" title="Name" width="130">
            </kendo-grid-column>
            <kendo-grid-column field="Address1" title="Permanent Address" width="150">
            </kendo-grid-column>
            <kendo-grid-column field="City" title="City" width="150">
            </kendo-grid-column>
            <kendo-grid-column field="Zip" title="Zip Code" width="100" [filterable]="false">
            </kendo-grid-column>
            <kendo-grid-column field="Phone" title="Phone" width="100" [filterable]="false">
            </kendo-grid-column>

            <kendo-grid-column field="Actions" title="Actions" width="150" [filterable]="false">
                <ng-template kendoGridCellTemplate>


                    <button class="btn btn-outline-warning btn-sm" (click)="openModal(template)">Edit</button>
                    <button class="btn btn-outline-danger btn-sm" (click)="openModalforDelete(Deletetemplate)">Delete</button>
                </ng-template>
            </kendo-grid-column>
        </kendo-grid>

    </div>

</div>
<div class="edit modal">
    <template #template>

        <form [formGroup]="complexForm" (ngSubmit)="onSave()">
            <div class="modal-header">
                <h4 class="modal-title pull-left">Edit Location</h4>
                <button type="button " class="close pull-right" aria-label="Close" (click)="modalRef.hide()">
      <span aria-hidden="true">&times;</span>
        </button>
            </div>

            <div class="container">
                <div class="row">
                    <div class="col-md-6">
                        <div class="form-group">
                            <input class="form-control" type="text" [(ngModel)]="location.LocationID" [formControl]="complexForm.controls['LocationID']"
                                disabled>
                        </div>
                    </div>

                    <div class="col-md-6">
                        <div class="form-group">
                            <input class="form-control" type="text" [(ngModel)]="location.Name" [formControl]="complexForm.controls['Name']">
                        </div>
                    </div>


                </div>


                <div class="row">
                    <div class="col-md-6">
                        <div class="form-group">
                            <input class="form-control" type="text" [(ngModel)]="location.City" [formControl]="complexForm.controls['City']">
                        </div>
                    </div>
                    <div class="col-md-6">
                        <div class="form-group">
                            <input class="form-control" type="text" [(ngModel)]="location.Zip" [formControl]="complexForm.controls['Zip']">
                        </div>
                    </div>


                </div>

                <div class="row">

                    <div class="col-md-6">
                        <div class="form-group">
                            <input class="form-control" type="text" [(ngModel)]="location.Address1" [formControl]="complexForm.controls['Address1']">
                        </div>
                    </div>

                    <div class="col-md-6">
                        <div class="form-group">
                            <input class="form-control" type="text" [(ngModel)]="location.Address2" [formControl]="complexForm.controls['Address2']">
                        </div>
                    </div>
                </div>

                <div class="form-group">
                    <input class="form-control" type="email" [(ngModel)]="location.Phone" [formControl]="complexForm.controls['Phone']">
                </div>

                <div class="submitbutton">
                    <button class="btn btn-primary submit" (click)="modalRef.hide()">Update</button>
                </div>
            </div>
        </form>
    </template>
</div>
<template #Deletetemplate>

    <form [formGroup]="complexForm" (ngSubmit)="onDelete()">
        <div class="modal-header">
            <h4 class="modal-title pull-left">Delete Location</h4>
            <button type="button " class="close pull-right" aria-label="Close" (click)="modalRef.hide()">
            <span aria-hidden="true">&times;</span>
        </button>
        </div>
        <div class="container">
            <p>Are you sure you want to delete this Location?</p>
            <div class="deletebtn">
                <button class="btn btn-danger">Delete</button>&nbsp;
                <button class="btn btn-info" (click)="modalRef.hide()">Cancel</button>
            </div>
        </div>
    </form>
</template>

<app-footer></app-footer>