<app-header></app-header>
<div class="homeelement col-md-12">
  <div class="body">
    <carousel>
      <slide>
        <img src="assets/images/1.jpg" alt="First slide">
        <div class="carousel-caption">
          <h3>Welcome to vCIOPro</h3>
          <p>We are not PRO's just by our name but because of the work and the services provided to our valuable customers</p>
        </div>
      </slide>
      <slide>
        <img src="assets/images/11.jpg" alt="Second slide">
        <div class="carousel-caption">
          <h3>We know the value of Time</h3>
          <p>Giving facilities to users 24 x 7, right from their homes.</p>
        </div>
      </slide>
    </carousel>
  </div>
</div>
<app-footer></app-footer>